
@font-face {
    font-family: 'digital-7_monomono';
    src: url('digital-7_mono-webfont.woff2') format('woff2'),
         url('digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	background-image: url(floor.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

.simonCircle{
	height: 600px;
	width: 600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	box-shadow:  0 20px 40px 0 rgba(0, 0, 0, 0.5), 0 46px 120px 0 rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
.innerCircle{
	border-radius: 50%;
	margin: auto;
	position: absolute;
	height: 250px;
	width: 250px;
	background: #d8d8d8;
	border: 26px solid black;
	font-family: 'Viga', sans-serif;
}
h1{
	text-align: center;
	font-size: 60px;
	margin: 30px 0 0 10px;
}
h1 span{
	text-align: center;
	font-size: 20px;
}

.color{
	height: 300px;
	width: 300px;
	border-color: black;
	border-style: solid;
	box-sizing: border-box;
	transition: background 0.5s;

}
.blink{
/*	transition-delay: 1s;*/
}
#red{
	background: #b92b2b;
	border-radius: 0 100% 0 0;
	border-width: 26px 26px 13px 13px;
}
#red.blink{
	background: #ff4141;
}
#blue{
	background: #2a6aca;
	border-radius: 0 0 100% 0;
	border-width: 13px 26px 26px 13px;
}
#blue.blink{
	background: #3aa4ff;
}
#green{
	background: #4aab4a;
	border-radius: 100% 0 0 0;
	border-width: 26px 13px 13px 26px;
}
#green.blink{
	background: #60e460;
}
#yellow{
	background: #eaac00 ;
	border-radius: 0 0 0 100%;
	border-width: 13px 13px 26px 26px;
}
#yellow.blink{
	background: #fff040;
}
#count{
	padding: 0 5px;
	background: #32060D;
	color: #420811;
	border: 2px solid black;
	border-radius: 5px;
    font-family: 'digital-7_monomono';
	font-size: 50px;
	height: 45px;
	width: 46px;
}
.buttons p{
	text-align: center;
	margin: 0;
}
#start{
	width: 20px;
	height: 20px;
	background: yellow;
	border: 4px solid #404040;
	border-radius: 50%;
	margin: 8px auto;
}
#strict{
	width: 20px;
	height: 20px;
	background: #bd0000;
	border: 4px solid #404040;
	border-radius: 50%;
	margin: 8px auto;
	
}
#strict.on{
	box-shadow: 0 0 10px #bd0000;
}
.buttons{
	display: flex;
	justify-content: space-evenly;
}


/*Toggle*/
.toggleBox{
	text-align: center;
	margin: 10px;
}
.toggleBox p {
	margin: 0;
}

.tgl {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: auto;
  box-sizing: border-box;
}

.tgl span {
  position: relative;
  display: block;
  height: 1.8em;
  line-height: 1.2em;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  border-radius: 2em;
  padding: 0.2em 1em;
  border: 1px solid #fafafa;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
  box-sizing: border-box;
}

.tgl span:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  margin-left: -1.45em;
  top: 0.2em;
  background: #ffffff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
.tgl input[type="checkbox"] {
  display: none !important;
}


.tgl input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
  left: 1.6em;
}
.tgl input[type="checkbox"]:checked + span {
  background: #86d993;
  color: #ffffff;
  padding-left: 0.4em;
  padding-right: 1.6em;
}

.tgl input[type="checkbox"]:checked + span:after {
  background: #ffffff;
  left: 100%;
}